<app-header></app-header>
<div class='title-slide'>
    <div class='title'>יער עירוני דיגיטלי</div>
    <div class='subtitle'>בסיס נתונים לאומי לעצי רחוב בישראל</div>
    <a class='joinus' href='#join-us'>הצטרפו אלינו</a>
</div>
<div class='partners'>
    <a href='#' class='moep'></a>
    <a href='#' class='ilgbc'></a>
    <a href='#' class='nec'></a>
    <a href='#' class='moag'></a>
</div>
<div class='goal-slide' id='about'>
    <div class='decision'>
        <span class='quote'>״מתוך הכרה בחשיבותם של עצי הרחוב לקידום של עירוניות איכותית, בריאה ומקיימת ובמטרה להאיץ את היערכות ערכי ישראל לשינוי אקלים״</span>
        <span class='source'>*החלטת ממשלה 102</span>
    </div>

    <div class='para left'>
        <label>שורש הבעיה</label>
        <span>מיפוי עצי הרחוב בישראל היא משימה מורכבת. כיום המידע נשמר במקומות שונים ואינו מנוהל כבסיס נתונים אחד. מה שקשה למדוד, קשה לנהל.</span>
    </div>

    <div class='para right'>
        <label>המשימה שלנו</label>
        <span>לשם כך אנו בונים את תשתית הנתונים הלאומית של עצי הרחוב בישראל, במטרה לקדם החלטות מבוססות נתונים והנגשת המידע לרשויות ולציבור.</span>
    </div>
</div>
<div class='explainers'>
    <div class='explainer' id='treeid'>
        <div class='content'>
            <div class='para kind3'>
                <div class='title'>הכירו את המְזַעֶץ</div>
                <div class='subtitle'>בשילוב ביג דאטה שמקורו במאגרים ארציים יחד עם סקרי עצים מוניציפליים אנו יוצרים מזהה חד ערכי לעץ- המְזַעֶץ. כך אנו מפיקים תעודת זהות ייחודית ושלמה לכל עץ ועץ בערי ישראל.</div>
            </div>
            <div class='process'>
                <div class='step step1'>
                    <span> מקורות מידע מבעלי עניין שונים</span>
                </div>
                <div class='arrow'>
                </div>
                <div class='step step2'>
                    <span>עיבוד, טיוב ואוטומיזצית הנתונים</span>                    
                </div>
                <div class='arrow'>
                    
                </div>
                <div class='step step3'>
                    <span>הפקת מספר המְזַעֶץ</span>
                </div>
            </div>
        </div>
        <div class='photo kind1'></div>
    </div>
    <div class='explainer right' id='status'>
        <div class='photo kind2'></div>
        <div class='content'>
            <div class='title'>קצב הצמיחה שלנו</div>
            <div class='subtitle'>בימים אלה צומח בסיס הנתונים הארצי של היער העירוני, בקרוב תוכלו להתעדכן בקצב דיגיטציית העצים בערים בישראל ולקבל תמונת מצב שלמה על כמות העצים במרחבים עירוניים:</div>
            <div class='para kind4'>
                <ul>
                    <li>כמה ואילו שותפים העלו מאגרי מידע?</li>
                    <li>כמה עצים וחופות מופו?</li>
                    <li>כמה מְזַעֶצים נוצרו?</li>
                    <li>כמה אנו רחוקים מיעד הדיגיטציה?</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class='join-us' id='join-us'>
    <div class='section'>
        <div class='title'>רשויות מקומיות, הצטרפו אלינו!</div>
        <div class='subtitle'>צרפו את המידע שלכם למאגר העצים הלאומי וקבלו נתונים עשירים וכלים מתקדמים לתכנון, ניהול ותחזוק היער העירוני.</div>
        <div class='form'>
            <iframe src='https://form.jotform.com/230195952121047' frameborder='0' scrolling='no' allowtransparency='true' allowfullscreen='true' style='width: 100%; height: 450px;'></iframe>
        </div>    
    </div>
    <div class='section'>
        <div class='munis'>
            רשויות מקומיות שהצטרפו
            <div class='muni-logos'>
                <img *ngFor='let i of muniLogos' [src]='"assets/img/logos/" + i + ".png"' />
            </div>
        </div>
    </div>
</div>
<div class='data-slide'>
    <div class='title'>דאטה לא<br/>גדל על העצים</div>
    <div class='subtitle'>מוזמנים לגשת לנתונים בממשק מפתחים (API) ולהוריד קבצים וטבלאות  לשימוש חופשי. תשתית הנתונים שלנו פתוחה ומתבססת על רשות פורטלי מידע עירוניים של Data city. </div>
    <a class='download' href='https://opentreebase.datacity.org.il/' target="_blank">להורדת המידע</a>
</div>
<app-footer></app-footer>