<div class='right'>
    <a class='pkw-logo' href='https://www.hasadna.org.il' target='_blank'></a>
    <span>הסדנא לידע ציבורי היא ארגון ללא מטרות רווח, מבוסס מתנדבים, הפועל לקידום שקיפות שלטונית ומעורבות אזרחית באמצעות בניית כלים לפתיחה והנגשה של מידע המצוי ברשותם של מוסדות ציבוריים.</span>
    <a class='more' href='https://www.hasadna.org.il' target='_blank'>קראו עוד &gt;</a>
</div>
<div class='left'>
    <span>
        צרו קשר:
        <br/>
        <br/>
        <a href='mailto:emri@hasadna.org.il'>emri@hasadna.org.il</a>
    </span>
    
    <span class='copyright'>© 2023 הסדנא לידע ציבורי</span>
</div>
